<p id="abaixoPeso">
    <Strong> Abaixo do Peso!</Strong><br><br>
    Isso significa que seu indice de massa corporal está abaixo de 18.5!
</p>
<p id="normal">
    <strong>Ideal!</strong><br><br>
    Isso significa que seu indice de massa corporal está entre 18.5 e 24.9!
</p>
<p id ="sPeso">
    <strong>Sobrepeso!</strong><br><br>
    Isso significa que seu indice de massa corporal está entre 25 e 29.9!
</p>
<p id ="grauI">
    <strong>Obesidade de grau I!</strong><br><br>
    Isso significa que seu indice de massa corporal está entre 30 e 34.9!
</p>
<p id = "grauII">
    <strong>Obesidade de grau II!</strong><br><br>
    Isso significa que seu indice de massa corporal está entre 35 e 39.9!
</p>
<p id = "morb">
    <strong>Obesidade Morbidas!</strong><br><br>
    Isso significa que seu indice de massa corporal está acima de 40!
</p>