

body {
    display:flex;
    flex-direction: column;
    background-color: skyblue;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-attachment:fixed;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin: 0 auto;
    max-width:1080px ;
    margin-bottom: 20px;

}

#titulo {
    font-size: 50px;
    color: whitesmoke;
    box-shadow: 5%;
    margin-top: 10px;
    border: 10px whitesmoke double;
    border-radius: 5px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;


}

.introducao {
    margin-top: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 5px;
    text-align: justify;
    font-size: 20px;
    
}

.input {
    max-height: 450px;
    max-width: 450px;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    text-align: center;
    padding: 20px;

}

#btnForm{
    margin-top: 20px;
    height: 50px;
    background-color: #8AEBD4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-size: 35px;
}

th{
    color: red;
    font-size: 30px;
}

#altura,#peso{
    margin-top: 10px;
    width: 150px;
    height: 30px;
    font-size: 30px;
    border-radius: 5px;
}

.btn{
    margin-top: 30px;
    width: 400px;
    height: 50px;
    background-color: #8AEBD4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-size: 35px;
}
.btn:hover{
    background-color: #D4F086;

}
.btn:active{
    background-color:#84F08D ;
}

#resultado{
    font-size: 30px;
    max-width: 450px;
    border-radius: 5px;
    text-align: center;

}

#intText{ 
    max-width: 450px;
    font-size: 30px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    font-size: 30px;

}

#msgSuc {
    margin-top: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 5px;
    text-align: justify;
    font-size: 20px;
}

#form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 5%;
    text-align: justify;
    align-items: center;
}

legend{
    margin-bottom: 20px;
    text-align: center;
}

#btnForm{
    margin-top: 30px;
    width: 400px;
    height: 50px;
    background-color: #8AEBD4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-size: 35px;
}
#btnForm:hover{
    background-color: #D4F086;

}
#btnForm:active{
    background-color:#84F08D ;
}